.edit-container {
  max-width: 400px;
  margin: auto;
  margin-bottom: 15px;
  background: white;
  padding: 25px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  overflow: hidden;
}
.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 115px;
}

.edit-form .bg-input {
  background: rgb(192, 186, 186);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.buttons button {
  background: #00bc77;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  width: 130px;
}
